.hero-card {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: transparent;
}

.hero-card .header {
    background-color: #213038;
    font-size: 14px;
}

.hero-card .content {
    background-color: #182229;
}