:root {
    --level-size: 10px;
}

.levelled {
    width: var(--level-size);
    height: var(--level-size);
    background-color: yellow;
}

.unlevelled {
    width: var(--level-size);
    height: var(--level-size);
    background-color: grey;
}
