:root {
    --level-size-height: 5px;
    --level-size-width: 10px;
}

.levelled {
    width: var(--level-size-width);
    height: var(--level-size-height);
    background-color: yellow;
}

.unlevelled {
    width: var(--level-size-width);
    height: var(--level-size-height);
    background-color: grey;
}
