.hero-icon-big {
    background-image: url("/images/dota2/heroes_sheet.png");
    background-repeat: no-repeat;
    display: block;
}

.hero-icon-big-npc_dota_hero_abaddon_png {
    width: 128px;
    height: 72px;
    background-position: -5px -5px;
}

.hero-icon-big-npc_dota_hero_abyssal_underlord_png {
    width: 128px;
    height: 72px;
    background-position: -143px -5px;
}

.hero-icon-big-npc_dota_hero_alchemist_png {
    width: 128px;
    height: 72px;
    background-position: -281px -5px;
}

.hero-icon-big-npc_dota_hero_allied_coach_psd {
    width: 128px;
    height: 72px;
    background-position: -419px -5px;
}

.hero-icon-big-npc_dota_hero_ancient_apparition_png {
    width: 128px;
    height: 72px;
    background-position: -557px -5px;
}

.hero-icon-big-npc_dota_hero_antimage_png {
    width: 128px;
    height: 72px;
    background-position: -695px -5px;
}

.hero-icon-big-npc_dota_hero_arc_warden_png {
    width: 128px;
    height: 72px;
    background-position: -833px -5px;
}

.hero-icon-big-npc_dota_hero_axe_alt_png {
    width: 256px;
    height: 144px;
    background-position: -971px -5px;
}

.hero-icon-big-npc_dota_hero_axe_png {
    width: 128px;
    height: 72px;
    background-position: -5px -159px;
}

.hero-icon-big-npc_dota_hero_bane_png {
    width: 128px;
    height: 72px;
    background-position: -143px -159px;
}

.hero-icon-big-npc_dota_hero_batrider_png {
    width: 128px;
    height: 72px;
    background-position: -281px -159px;
}

.hero-icon-big-npc_dota_hero_beastmaster_png {
    width: 128px;
    height: 72px;
    background-position: -419px -159px;
}

.hero-icon-big-npc_dota_hero_bloodseeker_png {
    width: 128px;
    height: 72px;
    background-position: -557px -159px;
}

.hero-icon-big-npc_dota_hero_bounty_hunter_png {
    width: 128px;
    height: 72px;
    background-position: -695px -159px;
}

.hero-icon-big-npc_dota_hero_brewmaster_png {
    width: 128px;
    height: 72px;
    background-position: -833px -159px;
}

.hero-icon-big-npc_dota_hero_bristleback_png {
    width: 128px;
    height: 72px;
    background-position: -971px -159px;
}

.hero-icon-big-npc_dota_hero_broodmother_png {
    width: 128px;
    height: 72px;
    background-position: -1109px -159px;
}

.hero-icon-big-npc_dota_hero_centaur_png {
    width: 128px;
    height: 72px;
    background-position: -5px -241px;
}

.hero-icon-big-npc_dota_hero_chaos_knight_png {
    width: 128px;
    height: 72px;
    background-position: -143px -241px;
}

.hero-icon-big-npc_dota_hero_chen_png {
    width: 128px;
    height: 72px;
    background-position: -281px -241px;
}

.hero-icon-big-npc_dota_hero_clinkz_png {
    width: 128px;
    height: 72px;
    background-position: -419px -241px;
}

.hero-icon-big-npc_dota_hero_creep_dire_png {
    width: 128px;
    height: 72px;
    background-position: -557px -241px;
}

.hero-icon-big-npc_dota_hero_creep_radiant_png {
    width: 128px;
    height: 72px;
    background-position: -695px -241px;
}

.hero-icon-big-npc_dota_hero_crystal_maiden_alt1_png {
    width: 128px;
    height: 72px;
    background-position: -833px -241px;
}

.hero-icon-big-npc_dota_hero_crystal_maiden_png {
    width: 128px;
    height: 72px;
    background-position: -971px -241px;
}

.hero-icon-big-npc_dota_hero_dark_seer_png {
    width: 128px;
    height: 72px;
    background-position: -1109px -241px;
}

.hero-icon-big-npc_dota_hero_dark_willow_png {
    width: 128px;
    height: 72px;
    background-position: -5px -323px;
}

.hero-icon-big-npc_dota_hero_dazzle_png {
    width: 128px;
    height: 72px;
    background-position: -143px -323px;
}

.hero-icon-big-npc_dota_hero_death_prophet_png {
    width: 128px;
    height: 72px;
    background-position: -281px -323px;
}

.hero-icon-big-npc_dota_hero_default_png {
    width: 128px;
    height: 72px;
    background-position: -419px -323px;
}

.hero-icon-big-npc_dota_hero_disruptor_png {
    width: 128px;
    height: 72px;
    background-position: -557px -323px;
}

.hero-icon-big-npc_dota_hero_doom_bringer_png {
    width: 128px;
    height: 72px;
    background-position: -695px -323px;
}

.hero-icon-big-npc_dota_hero_dragon_knight_png {
    width: 128px;
    height: 72px;
    background-position: -833px -323px;
}

.hero-icon-big-npc_dota_hero_drow_ranger_png {
    width: 128px;
    height: 72px;
    background-position: -971px -323px;
}

.hero-icon-big-npc_dota_hero_earth_spirit_png {
    width: 128px;
    height: 72px;
    background-position: -1109px -323px;
}

.hero-icon-big-npc_dota_hero_earthshaker_alt1_png {
    width: 128px;
    height: 72px;
    background-position: -5px -405px;
}

.hero-icon-big-npc_dota_hero_earthshaker_alt2_png {
    width: 128px;
    height: 72px;
    background-position: -143px -405px;
}

.hero-icon-big-npc_dota_hero_earthshaker_png {
    width: 128px;
    height: 72px;
    background-position: -281px -405px;
}

.hero-icon-big-npc_dota_hero_elder_titan_png {
    width: 128px;
    height: 72px;
    background-position: -419px -405px;
}

.hero-icon-big-npc_dota_hero_ember_spirit_png {
    width: 128px;
    height: 72px;
    background-position: -557px -405px;
}

.hero-icon-big-npc_dota_hero_enchantress_png {
    width: 128px;
    height: 72px;
    background-position: -695px -405px;
}

.hero-icon-big-npc_dota_hero_enemy_coach_psd {
    width: 128px;
    height: 72px;
    background-position: -833px -405px;
}

.hero-icon-big-npc_dota_hero_enigma_png {
    width: 128px;
    height: 72px;
    background-position: -971px -405px;
}

.hero-icon-big-npc_dota_hero_faceless_void_png {
    width: 128px;
    height: 72px;
    background-position: -1109px -405px;
}

.hero-icon-big-npc_dota_hero_furion_png {
    width: 128px;
    height: 72px;
    background-position: -5px -487px;
}

.hero-icon-big-npc_dota_hero_grimstroke_png {
    width: 128px;
    height: 72px;
    background-position: -143px -487px;
}

.hero-icon-big-npc_dota_hero_gyrocopter_png {
    width: 128px;
    height: 72px;
    background-position: -281px -487px;
}

.hero-icon-big-npc_dota_hero_huskar_png {
    width: 128px;
    height: 72px;
    background-position: -419px -487px;
}

.hero-icon-big-npc_dota_hero_invoker_persona1_png {
    width: 512px;
    height: 288px;
    background-position: -557px -487px;
}

.hero-icon-big-npc_dota_hero_invoker_png {
    width: 128px;
    height: 72px;
    background-position: -1079px -487px;
}

.hero-icon-big-npc_dota_hero_jakiro_png {
    width: 128px;
    height: 72px;
    background-position: -1217px -487px;
}

.hero-icon-big-npc_dota_hero_juggernaut_alt1_png {
    width: 128px;
    height: 72px;
    background-position: -5px -569px;
}

.hero-icon-big-npc_dota_hero_juggernaut_alt2_png {
    width: 128px;
    height: 72px;
    background-position: -143px -569px;
}

.hero-icon-big-npc_dota_hero_juggernaut_png {
    width: 128px;
    height: 72px;
    background-position: -281px -569px;
}

.hero-icon-big-npc_dota_hero_keeper_of_the_light_png {
    width: 128px;
    height: 72px;
    background-position: -419px -569px;
}

.hero-icon-big-npc_dota_hero_kunkka_png {
    width: 128px;
    height: 72px;
    background-position: -1079px -569px;
}

.hero-icon-big-npc_dota_hero_legion_commander_alt1_png {
    width: 128px;
    height: 72px;
    background-position: -1217px -569px;
}

.hero-icon-big-npc_dota_hero_legion_commander_png {
    width: 128px;
    height: 72px;
    background-position: -5px -651px;
}

.hero-icon-big-npc_dota_hero_leshrac_png {
    width: 128px;
    height: 72px;
    background-position: -143px -651px;
}

.hero-icon-big-npc_dota_hero_lich_png {
    width: 128px;
    height: 72px;
    background-position: -281px -651px;
}

.hero-icon-big-npc_dota_hero_life_stealer_png {
    width: 128px;
    height: 72px;
    background-position: -419px -651px;
}

.hero-icon-big-npc_dota_hero_lina_alt1_png {
    width: 128px;
    height: 72px;
    background-position: -1079px -651px;
}

.hero-icon-big-npc_dota_hero_lina_png {
    width: 128px;
    height: 72px;
    background-position: -1217px -651px;
}

.hero-icon-big-npc_dota_hero_lion_png {
    width: 128px;
    height: 72px;
    background-position: -5px -733px;
}

.hero-icon-big-npc_dota_hero_lone_druid_png {
    width: 128px;
    height: 72px;
    background-position: -143px -733px;
}

.hero-icon-big-npc_dota_hero_luna_png {
    width: 128px;
    height: 72px;
    background-position: -281px -733px;
}

.hero-icon-big-npc_dota_hero_lycan_png {
    width: 128px;
    height: 72px;
    background-position: -419px -733px;
}

.hero-icon-big-npc_dota_hero_magnataur_png {
    width: 128px;
    height: 72px;
    background-position: -1079px -733px;
}

.hero-icon-big-npc_dota_hero_mars_png {
    width: 128px;
    height: 72px;
    background-position: -1217px -733px;
}

.hero-icon-big-npc_dota_hero_medusa_png {
    width: 128px;
    height: 72px;
    background-position: -5px -815px;
}

.hero-icon-big-npc_dota_hero_meepo_png {
    width: 128px;
    height: 72px;
    background-position: -143px -815px;
}

.hero-icon-big-npc_dota_hero_mirana_png {
    width: 128px;
    height: 72px;
    background-position: -281px -815px;
}

.hero-icon-big-npc_dota_hero_monkey_king_alt1_png {
    width: 128px;
    height: 72px;
    background-position: -419px -815px;
}

.hero-icon-big-npc_dota_hero_monkey_king_png {
    width: 128px;
    height: 72px;
    background-position: -557px -815px;
}

.hero-icon-big-npc_dota_hero_morphling_png {
    width: 128px;
    height: 72px;
    background-position: -695px -815px;
}

.hero-icon-big-npc_dota_hero_naga_siren_png {
    width: 128px;
    height: 72px;
    background-position: -833px -815px;
}

.hero-icon-big-npc_dota_hero_necrolyte_png {
    width: 128px;
    height: 72px;
    background-position: -971px -815px;
}

.hero-icon-big-npc_dota_hero_nevermore_alt1_png {
    width: 128px;
    height: 72px;
    background-position: -1109px -815px;
}

.hero-icon-big-npc_dota_hero_nevermore_png {
    width: 128px;
    height: 72px;
    background-position: -5px -897px;
}

.hero-icon-big-npc_dota_hero_night_stalker_png {
    width: 128px;
    height: 72px;
    background-position: -143px -897px;
}

.hero-icon-big-npc_dota_hero_nyx_assassin_png {
    width: 128px;
    height: 72px;
    background-position: -281px -897px;
}

.hero-icon-big-npc_dota_hero_obsidian_destroyer_png {
    width: 128px;
    height: 72px;
    background-position: -419px -897px;
}

.hero-icon-big-npc_dota_hero_ogre_magi_alt1_png {
    width: 128px;
    height: 72px;
    background-position: -557px -897px;
}

.hero-icon-big-npc_dota_hero_ogre_magi_alt2_png {
    width: 128px;
    height: 72px;
    background-position: -695px -897px;
}

.hero-icon-big-npc_dota_hero_ogre_magi_png {
    width: 128px;
    height: 72px;
    background-position: -833px -897px;
}

.hero-icon-big-npc_dota_hero_omniknight_png {
    width: 128px;
    height: 72px;
    background-position: -971px -897px;
}

.hero-icon-big-npc_dota_hero_oracle_png {
    width: 128px;
    height: 72px;
    background-position: -1109px -897px;
}

.hero-icon-big-npc_dota_hero_pangolier_png {
    width: 128px;
    height: 72px;
    background-position: -5px -979px;
}

.hero-icon-big-npc_dota_hero_phantom_assassin_alt1_png {
    width: 128px;
    height: 72px;
    background-position: -143px -979px;
}

.hero-icon-big-npc_dota_hero_phantom_assassin_png {
    width: 128px;
    height: 72px;
    background-position: -281px -979px;
}

.hero-icon-big-npc_dota_hero_phantom_lancer_png {
    width: 128px;
    height: 72px;
    background-position: -419px -979px;
}

.hero-icon-big-npc_dota_hero_phoenix_png {
    width: 128px;
    height: 72px;
    background-position: -557px -979px;
}

.hero-icon-big-npc_dota_hero_puck_png {
    width: 128px;
    height: 72px;
    background-position: -695px -979px;
}

.hero-icon-big-npc_dota_hero_pudge_alt1_png {
    width: 128px;
    height: 72px;
    background-position: -833px -979px;
}

.hero-icon-big-npc_dota_hero_pudge_alt2_png {
    width: 128px;
    height: 72px;
    background-position: -971px -979px;
}

.hero-icon-big-npc_dota_hero_pudge_alt_png {
    width: 128px;
    height: 72px;
    background-position: -1109px -979px;
}

.hero-icon-big-npc_dota_hero_pudge_png {
    width: 128px;
    height: 72px;
    background-position: -5px -1061px;
}

.hero-icon-big-npc_dota_hero_pugna_png {
    width: 128px;
    height: 72px;
    background-position: -143px -1061px;
}

.hero-icon-big-npc_dota_hero_queenofpain_png {
    width: 128px;
    height: 72px;
    background-position: -281px -1061px;
}

.hero-icon-big-npc_dota_hero_rattletrap_png {
    width: 128px;
    height: 72px;
    background-position: -419px -1061px;
}

.hero-icon-big-npc_dota_hero_razor_png {
    width: 128px;
    height: 72px;
    background-position: -557px -1061px;
}

.hero-icon-big-npc_dota_hero_riki_png {
    width: 128px;
    height: 72px;
    background-position: -695px -1061px;
}

.hero-icon-big-npc_dota_hero_roshan_png {
    width: 128px;
    height: 72px;
    background-position: -833px -1061px;
}

.hero-icon-big-npc_dota_hero_rubick_alt_png {
    width: 128px;
    height: 72px;
    background-position: -971px -1061px;
}

.hero-icon-big-npc_dota_hero_rubick_png {
    width: 128px;
    height: 72px;
    background-position: -1109px -1061px;
}

.hero-icon-big-npc_dota_hero_sand_king_png {
    width: 128px;
    height: 72px;
    background-position: -5px -1143px;
}

.hero-icon-big-npc_dota_hero_shadow_demon_png {
    width: 128px;
    height: 72px;
    background-position: -143px -1143px;
}

.hero-icon-big-npc_dota_hero_shadow_shaman_png {
    width: 128px;
    height: 72px;
    background-position: -281px -1143px;
}

.hero-icon-big-npc_dota_hero_shredder_png {
    width: 128px;
    height: 72px;
    background-position: -419px -1143px;
}

.hero-icon-big-npc_dota_hero_silencer_png {
    width: 128px;
    height: 72px;
    background-position: -557px -1143px;
}

.hero-icon-big-npc_dota_hero_skeleton_king_png {
    width: 128px;
    height: 72px;
    background-position: -695px -1143px;
}

.hero-icon-big-npc_dota_hero_skywrath_mage_png {
    width: 128px;
    height: 72px;
    background-position: -833px -1143px;
}

.hero-icon-big-npc_dota_hero_slardar_png {
    width: 128px;
    height: 72px;
    background-position: -971px -1143px;
}

.hero-icon-big-npc_dota_hero_slark_png {
    width: 128px;
    height: 72px;
    background-position: -1109px -1143px;
}

.hero-icon-big-npc_dota_hero_snapfire_png {
    width: 128px;
    height: 72px;
    background-position: -5px -1225px;
}

.hero-icon-big-npc_dota_hero_sniper_png {
    width: 128px;
    height: 72px;
    background-position: -143px -1225px;
}

.hero-icon-big-npc_dota_hero_spectre_png {
    width: 128px;
    height: 72px;
    background-position: -281px -1225px;
}

.hero-icon-big-npc_dota_hero_spirit_bear_png {
    width: 128px;
    height: 72px;
    background-position: -419px -1225px;
}

.hero-icon-big-npc_dota_hero_spirit_breaker_png {
    width: 128px;
    height: 72px;
    background-position: -557px -1225px;
}

.hero-icon-big-npc_dota_hero_storm_spirit_png {
    width: 128px;
    height: 72px;
    background-position: -695px -1225px;
}

.hero-icon-big-npc_dota_hero_sven_png {
    width: 128px;
    height: 72px;
    background-position: -833px -1225px;
}

.hero-icon-big-npc_dota_hero_techies_alt1_png {
    width: 128px;
    height: 72px;
    background-position: -971px -1225px;
}

.hero-icon-big-npc_dota_hero_techies_png {
    width: 128px;
    height: 72px;
    background-position: -1109px -1225px;
}

.hero-icon-big-npc_dota_hero_templar_assassin_png {
    width: 128px;
    height: 72px;
    background-position: -1237px -5px;
}

.hero-icon-big-npc_dota_hero_terrorblade_alt1_png {
    width: 128px;
    height: 72px;
    background-position: -1247px -87px;
}

.hero-icon-big-npc_dota_hero_terrorblade_png {
    width: 128px;
    height: 72px;
    background-position: -1247px -169px;
}

.hero-icon-big-npc_dota_hero_tidehunter_png {
    width: 128px;
    height: 72px;
    background-position: -1247px -251px;
}

.hero-icon-big-npc_dota_hero_tinker_png {
    width: 128px;
    height: 72px;
    background-position: -1247px -333px;
}

.hero-icon-big-npc_dota_hero_tiny_png {
    width: 128px;
    height: 72px;
    background-position: -1355px -415px;
}

.hero-icon-big-npc_dota_hero_tower_dire_png {
    width: 128px;
    height: 72px;
    background-position: -1355px -497px;
}

.hero-icon-big-npc_dota_hero_tower_radiant_png {
    width: 128px;
    height: 72px;
    background-position: -1355px -579px;
}

.hero-icon-big-npc_dota_hero_treant_png {
    width: 128px;
    height: 72px;
    background-position: -1355px -661px;
}

.hero-icon-big-npc_dota_hero_troll_warlord_png {
    width: 128px;
    height: 72px;
    background-position: -1355px -743px;
}

.hero-icon-big-npc_dota_hero_tusk_png {
    width: 128px;
    height: 72px;
    background-position: -1247px -825px;
}

.hero-icon-big-npc_dota_hero_undying_png {
    width: 128px;
    height: 72px;
    background-position: -1247px -907px;
}

.hero-icon-big-npc_dota_hero_ursa_png {
    width: 128px;
    height: 72px;
    background-position: -1247px -989px;
}

.hero-icon-big-npc_dota_hero_vengefulspirit_png {
    width: 128px;
    height: 72px;
    background-position: -1247px -1071px;
}

.hero-icon-big-npc_dota_hero_venomancer_png {
    width: 128px;
    height: 72px;
    background-position: -1247px -1153px;
}

.hero-icon-big-npc_dota_hero_viper_png {
    width: 128px;
    height: 72px;
    background-position: -1247px -1235px;
}

.hero-icon-big-npc_dota_hero_visage_png {
    width: 128px;
    height: 72px;
    background-position: -5px -1317px;
}

.hero-icon-big-npc_dota_hero_void_spirit_png {
    width: 128px;
    height: 72px;
    background-position: -143px -1317px;
}

.hero-icon-big-npc_dota_hero_warlock_png {
    width: 128px;
    height: 72px;
    background-position: -281px -1317px;
}

.hero-icon-big-npc_dota_hero_weaver_png {
    width: 128px;
    height: 72px;
    background-position: -419px -1317px;
}

.hero-icon-big-npc_dota_hero_windrunner_png {
    width: 128px;
    height: 72px;
    background-position: -557px -1317px;
}

.hero-icon-big-npc_dota_hero_winter_wyvern_png {
    width: 128px;
    height: 72px;
    background-position: -695px -1317px;
}

.hero-icon-big-npc_dota_hero_wisp_alt_png {
    width: 128px;
    height: 72px;
    background-position: -833px -1317px;
}

.hero-icon-big-npc_dota_hero_wisp_png {
    width: 128px;
    height: 72px;
    background-position: -971px -1317px;
}

.hero-icon-big-npc_dota_hero_witch_doctor_png {
    width: 128px;
    height: 72px;
    background-position: -1109px -1317px;
}

.hero-icon-big-npc_dota_hero_zuus_alt1_png {
    width: 128px;
    height: 72px;
    background-position: -1247px -1317px;
}

.hero-icon-big-npc_dota_hero_zuus_png {
    width: 128px;
    height: 72px;
    background-position: -1375px -5px;
}
