:root {
    --scroll-handle-color: rgb(87, 104, 104);
}

/**
    reactjs-tooltip Generic Styling
    className: foresight-tooltip
**/
.foresight-tooltip-content {
    overflow-y: auto;
    padding: 0!important;
    border: 0!important;
    background: var(--primary-color)!important;
}
/* Header inside content */
.foresight-tooltip-content .header {
    background-color: #213038;
}
/* .foresight-tooltip-arrow {
    color: rgb(255, 255, 255);
}
[role='tooltip'].foresight-tooltip-content {
    width: 200px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 3px;
} */
/* .foresight-tooltip-overlay {
    background: rgba(0, 0, 0, 0.5);
}
[data-popup='tooltip'].foresight-tooltip-overlay {
    background: transparent;
} */

/**
    foresight custom scrollbar
**/
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--primary-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--scroll-handle-color);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--scroll-handle-color);
}