/*
    Foresight specific Bootstrap stylings
    *
    All bootstrap specific controls styling. Use the provided className
    on the specific bootstrap control
*/

:root {
    /* Background/inactive color */
    --primary-color: #182229;
    /* Focus content/Active color */
    --secondary-color: #213038;
    /* Focus content/Active color */
    --active-color: #354c58;
    
    --primary-txt-color: white;
    --muted-txt-color: rgb(200, 200, 225);
}

/** 
    Bootstrap Tabs styling
    className: foresight-tabs
**/
.foresight-tabs.nav-tabs {
    border-bottom: 1px solid #354c58;
}
/* inactive */
.foresight-tabs .nav-item.nav-link {
    color: grey;
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}
/* Hover & Active */
.foresight-tabs .nav-item.nav-link:hover {
    border-color: var(--active-color);
}
.foresight-tabs .nav-item.nav-link:active {
    border-color: green;
}
/* Tabs active */
.foresight-tabs .nav-item.nav-link.active {
    color: white;
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
}

/**
    Bootstrap Select (Combo Box/Drop Down)
    className: foresight-dropdown
**/
select.foresight-dropdown.form-control  {
    background-color: var(--secondary-color);
    border-color: var(--active-color);
    color: var(--primary-txt-color);
}

/**
    Bootstrap Input Form-Control
    className: foresight-input-control
**/
input.foresight-input-control.form-control {
    background: var(--primary-color);
    border-color: var(--active-color);
    color: var(--primary-txt-color);
}
/* Input disabled */
input.foresight-input-control.form-control-plaintext {
    background-color: var(--secondary-color);
    color: var(--muted-txt-color);
    border-color: var(--active-color);
    border-radius: 5px;
    padding-left: 0.5rem;
}

/**
    Bootstrap ListGroup
    className: foresight-list-group
**/
.foresight-list-group {
    color: var(--primary-txt-color);
}

.foresight-list-group button {
    background: var(--primary-color);
    border-color: var(--active-color);
    color: var(--primary-txt-color);
    padding: 0.5rem 1em!important;
}
.foresight-list-group button:hover {
    color: var(--primary-txt-color);
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
}
.foresight-list-group button:active {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
    border-radius: 5px;
}