:root {
    --border-width: 2px;
}

.primary-attribute {
    border: var(--border-width) solid gold;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius:50%;

    /*Original atrribute size is 32px, add border width on both sides*/
    width: calc(32px + (var(--border-width) * 2));
    height: calc(32px + (var(--border-width) * 2));
}